<center>


<div style="display: flex; justify-content: center;">
    <img src="" alt="Logo UTN"/>
</div>
</center>
<center>
    <div style="font-family: 'Georgia', serif; font-size: 24px;">
        <p><strong>Ingeniería electrónica. Análisis de Señales y Sistemas</strong></p>
        <!--<p><em>Profesor Mg. Ing. Javier Velez</em></p>-->
    </div>
</center>

# Introducción a Python

## ¿Qué es Python?

Python es un lenguaje de programación, interpretado, de alto nivel y propósito general, multiplataforma, además de ser un proyecto libre y de código abierto, con una comunidad enorme implicada en el desarrollo y mantenimiento de librerías que hacen posible el *multidominio* actual de Python.

Quizás se preguntarán por qué les presentamos Python en esta materia mientras ya están aprendiendo C++ en Informática I y II. Python y C++ son dos lenguajes de programación con enfoques y características diferentes. A continuación se presentan algunas de las principales diferencias entre Python y C++, así como sus usos adecuados:

**Facilidad de uso**: Python es considerado un lenguaje de programación fácil de aprender y de escribir, mientras que C++ es más complejo y tiene una curva de aprendizaje más empinada.

**Velocidad**: C++ es un lenguaje de programación compilado que puede ser muy rápido, mientras que Python es un lenguaje interpretado que generalmente es más lento que C++. Los detalles de esto lo verán en profundidad durante la carrera.

**Tipos de dato**s: Python es un lenguaje de programación de tipado dinámico, lo que significa que no es necesario declarar el tipo de datos de una variable antes de usarla, mientras que C++ es un lenguaje de programación de tipado estático, lo que significa que se deben declarar los tipos de datos antes de usarlos. Además Python es un lenguaje orientado a listas y arreglos, lo que significa que la mayoría de los operadores y funciones nativas pueden trabajar con este tipo de variables.

**Orientación a objetos**: Tanto Python como C++ son lenguajes orientados a objetos, pero Python tiene una sintaxis más simple y más fácil de usar para programar en este paradigma.

**Uso adecuado**: Python se utiliza a menudo para la creación de prototipos rápidos, análisis de datos, inteligencia artificial y aprendizaje automático, scripting, desarrollo web y aplicaciones de escritorio. Por otro lado, C++ se utiliza comúnmente en sistemas operativos, videojuegos, aplicaciones de alto rendimiento, programación de dispositivos integrados y aplicaciones en tiempo real.

## 1. Tipos de datos

En un lenguaje de programación, los tipos de datos son categorías que definen las características de los datos y determinan qué tipo de operaciones se pueden realizar sobre ellos. Cada tipo de dato tiene sus propiedades y métodos asociados. A continuación, se explican los tipos de datos más comunes que encontrarás en el lenguaje Python.

### 1.1. Cadenas de caracteres (Strings) en Python

Las cadenas de caracteres, o strings, son un tipo de dato que contiene una secuencia de símbolos. Estos símbolos pueden ser alfanuméricos o cualquier otro símbolo propio de un sistema de escritura. En Python, los strings se definen utilizando comillas dobles ("") o simples (''). A continuación, algunos ejemplos:

In [1]:
print(type('hola'))
print(type("hola"))

<class 'str'>
<class 'str'>

En estos ejemplos, usamos la función `print` para mostrar información en la salida estándar (generalmente, la pantalla) y la función `type()` para determinar el tipo de dato. Ambas funciones son fundamentales en Python:

- `print`: Se usa para mostrar resultados, contenido de variables o para depuración de código.

- `type`: Indica el tipo de dato o variable.

El resultado `<class 'str'>` indica que el tipo de dato es siempre un string, sin importar si usamos comillas simples o dobles.

La función `print` puede:

- Tomar múltiples argumentos y mostrarlos en la pantalla separados por un espacio.

- Manejar caracteres especiales, como el salto de línea (`\n`), para formatear la salida.

Estos son algunos ejemplos del uso de `print` con strings:

In [2]:
print("Hola, mundo!")  # Muestra el texto en la pantalla
print("Esto es un string.")  # Otro ejemplo de string
print("¡Hola!\n¿Cómo estás?")  # Utilizando el carácter especial de nueva línea
print("Python " + "es " + "genial!")  # Concatenando strings

Hola, mundo!
Esto es un string.
¡Hola!
¿Cómo estás?
Python es genial!

En estos ejemplos, estamos utilizando `print` para mostrar diferentes cadenas de texto en la salida. Observa cómo:
- podemos combinar strings utilizando el operador de concatenación `+`
- podemos incluir caracteres especiales para dar formato a la salida.

Seguiremos profundizando sobre la función `print` en este tutorial.

### 1.2 Tipos de datos *Numéricos*

Python dispone de los tipos numéricos más habituales:

- Enteros (int): números enteros, por ejemplo, 1, 2, 3, etc.

- Flotantes (float): números con decimales, por ejemplo, 3.14, 2.5, etc.

In [3]:
type(3)

int

In [4]:
type(3.0)

float

El número 3 es de tipo entero (int) porque no tiene una parte decimal. En cambio, el número 3.0 es de tipo flotante (float) porque incluye una parte decimal, aunque sea cero.

### Operaciones aritméticas

Python permite realizar diversas operaciones aritméticas entre tipos numéricos:

| Operación | Descripción |
|-----------|-------------|
| +         | Suma dos valores numéricos |
| -         | Resta dos valores numéricos |
| *         | Multiplica dos valores numéricos |
| /         | Divide dos valores numéricos |
| //        | Realiza una división entera entre dos valores numéricos |
| %         | Obtiene el residuo de la división entre dos valores numéricos |
| **        | Eleva un valor numérico a una potencia |

A continuación, algunos ejemplos prácticos:

In [5]:
print(3 + 2)       # Suma: 5
print(5 - 2)       # Resta: 3
print(4 * 3)       # Multiplicación: 12
print(10 / 2)      # División: 5.0
print(10 // 3)     # División entera: 3
print(10 % 3)      # Módulo o residuo: 1
print(2 ** 3)      # Potencia: 8

5
3
12
5.0
3
1
8

### Operaciones Combinadas

Python también permite realizar operaciones combinadas, donde se utilizan varios operadores en una misma expresión. Observa cómo se evalúan las operaciones con diferentes tipos de datos:

In [6]:
 2 * 4 - (7 - 1)**2 / 3 + 1.0

-3.0

En este caso, Python sigue la precedencia de operadores estándar (paréntesis, exponenciación, multiplicación/división, suma/resta). La expresión se evalúa paso a paso, y el resultado es un número flotante debido a la presencia de 1.0 en el último término y de que las divisiones siempre devuelven datos tipo flotantes.

### Números Complejos

Python también soporta números complejos, que se definen utilizando una parte real y una imaginaria, denotada por la letra j:

In [7]:
print(2 + 3j)  # Número complejo: (2+3j)
print(1j)      # Parte imaginaria: 1j
print(abs(2 + 3j))  # Módulo del número complejo: 3.605551275463989

(2+3j)
1j
3.605551275463989

### 1.3. Tipo bool o booleanos

Las variables booleanas son valores lógicos, sólo pueden adoptar dos valores: verdadero (True) o falso (False). Un valor booleano se puede definir directamente a partir de las constantes True y False:

In [8]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## 2. Variables

En Python, una variable es un contenedor que almacena un valor o una referencia a un objeto. Las variables se utilizan para almacenar y manipular datos dentro de un programa.

En Python, se pueden definir variables simplemente asignando con el signo igual `=`, un valor a un nombre de variable. Por ejemplo, el siguiente código define una variable llamada `mi_variable` y le asigna el valor tipo int 10:

In [9]:
mi_variable = 10
print(mi_variable)

10

 Los nombres de las variables en Python pueden contener caracteres alfanuméricos (empezando con una letra) a-z, A-Z, 0-9 y otros símbolos como el guión bajo.

Por cuestiones de estilo, las variables suelen empezar con minúscula, reservando la mayúcula para otros tipos más complejos.

Algunos nombres no pueden ser usados como nombres de variables porque están reservados por python para distintas funcionalidades:

    and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, import, in, is, lambda, not, or, pass, print, raise, return, try, while, with, yield

Asignemos a una variable llamada `a` un número complejo:

In [10]:
a = 1 + 2j

En Python __la asignación no imprime nada por pantalla__. Una manera de visualizar la variable que acabamos de asignar es escribirla al final sin operar sobre ella:

In [11]:
b = 3.14159
b

3.14159

Otra manera obviemente es usando la función `print()`, y una manera muy elegante de hacerlo es la siguiente:

In [12]:
numero_grande = 2579
numero_chico = 2
print(f'El número grande es: {numero_grande}.  El número chico es: {numero_chico}.')

El número grande es: 2579.  El número chico es: 2.

Observar la letra "f" antes de las comillas del string. Esto indica que python va a reemplazar las llaves por el contenido de la variable que está indicada allí.

Podemos realizar **asignación de múltiples variables** en una línea:

In [13]:
x, y = 1, 2
print(f'x vale: {x}, y vale: {y}')

x vale: 1, y vale: 2

También podemos intercambiar sus valores en una línea:

In [14]:
x, y = y, x
print(f'x vale: {x}, y vale: {y}')

x vale: 2, y vale: 1

Por último hay que mencionar que los nombres de variables son *case sensitive*, es decir, se distingue entre mayúsculas y minúsculas.

In [16]:
NOMBRE = "Miriam"
nombre = "Marcelo"
Nombre = ('Braulio')
print(f'NOMBRE: {NOMBRE}; nombre: {nombre}; Nombre: {Nombre}.')

NOMBRE: Miriam; nombre: Marcelo; Nombre: Braulio.

## 3. Operadores de comparación

### 3.1 Operadores para comparación de números.

Estos son:

* `==` igual a
* `!=` distinto de
* `<` menor que
* `<=` menor o igual que
* `>` mayor que
* `>=` mayor o igual que

hacer una comparación de números arrojará como resultado un booleano: `True` o `False`

In [18]:
x == y

False

In [19]:
print(x != y)

True

In [20]:
print(x < y)
print(x <= y)
print(x > y)
print(x >= y)

False
False
True
True

In [21]:
# incluso:
x = 5.
6. < x < 8.

False

### 3.2 Operaciones  para comparación de datos tipo booleanos.

Las operaciones básicas con booleanos son `and`, `not` y `or`

In [22]:
True and False

False

In [23]:
not False

True

In [24]:
True or False

True

y se pueden concatenar tantos como queramos:

In [25]:
print(True and True and True)
print(True or False or False)

True
True

## 4. Otros tipos de datos: listas y tuplas

Otro tipo de datos muy importante son las secuencias: las tuplas y las listas. Ambos son conjuntos ordenados de elementos: las tuplas se demarcan con paréntesis y las listas con corchetes. Ambas pueden contener dentro cualquier tipo de dato, incluso se pueden mezclar los tipos de datos:

In [32]:
una_lista = [1, 2, 3.0, 4 + 0j, "5"]
una_tupla = (1, 0, 3.0, 4 + 0j, "5", "hola")
print(una_lista)
print(una_tupla)
print(una_lista == una_tupla)

[1, 2, 3.0, (4+0j), '5']
(1, 0, 3.0, (4+0j), '5', 'hola')
False

Para las tuplas, podemos incluso obviar los paréntesis:

In [33]:
tupla_sin_parentesis = 2,5,6,9,7
type(tupla_sin_parentesis)

tuple

En los dos tipos podemos:

* Comprobar si un elemento está en la secuencia con el operador `in`:

In [34]:
2 in una_lista

True

In [35]:
2 in una_tupla

False




* Saber cuántos elementos tienen con la función `len`:

In [36]:
len(una_lista)

5

In [37]:
len(una_tupla)

6

### Indexaxión de elementos en secuencias
La indexación en Python se refiere a la manera en que se accede a elementos individuales de secuencias como strings, listas y tuplas. Python utiliza índices basados en cero, lo que significa que la posición del primer elemento es 0.

**Indexación básica**

Consideremos una cadena de caracteres como ejemplo:

In [38]:
mi_string = "Python"
print(len(mi_string))  # Muestra 6

6

Vemos que la variable `mi_string` contiene 6 elementos. En Python, la indexación comienza desde 0, por lo que la letra P está en la posición 0 y la letra n (la última de mi_string) está en la posición 5.

Podemos acceder a cada carácter de la cadena utilizando el nombre de la variable junto a su índice encerrado entre corchetes:

In [39]:
print(mi_string[0])  # P
print(mi_string[1])  # y
print(mi_string[2])  # t
print(mi_string[3])  # h
print(mi_string[4])  # o
print(mi_string[5])  # n

P
y
t
h
o
n

**Índices Negativos**

Python también permite el uso de índices negativos para acceder a los elementos desde el final de la secuencia. El índice -1 representa el último elemento, -2 el penúltimo, y así sucesivamente:

Y llegamos al final de este tutorial! Cualquier comentario no dudes en consultar con los profesores de la cátedra.

In [40]:
print(mi_string[-1])  # n
print(mi_string[-2])  # o
print(mi_string[-3])  # h
print(mi_string[-4])  # t
print(mi_string[-5])  # y
print(mi_string[-6])  # P

n
o
h
t
y
P

**Slicing**

El slicing permite extraer subsecuencias de una secuencia. Se utiliza el operador de dos puntos (`:`) para indicar el rango de índices. La sintaxis es `secuencia[inicio:fin]`, donde `inicio` es el índice del primer elemento incluido y `fin` es el índice del primer elemento excluido:

In [41]:
print(mi_string[0:2])  # Py
print(mi_string[2:5])  # tho
print(mi_string[:4])   # Pyth (desde el inicio hasta el índice 4, no incluido)
print(mi_string[2:])   # thon (desde el índice 2 hasta el final)
print(mi_string[:])    # Python (toda la secuencia)

Py
tho
Pyth
thon
Python

**Slicing con Paso**
El slicing con paso permite seleccionar elementos de una secuencia en intervalos específicos. La sintaxis es `secuencia[inicio:fin:paso]`, donde `inicio` es el índice del primer elemento incluido, `fin` es el índice del primer elemento excluido, y `paso` es el intervalo entre los elementos seleccionados. Veamos algunos ejemplos:

In [42]:
print(mi_string[::2])  # Pto

Pto

En este ejemplo, comenzamos desde el principio de la cadena (`inicio` se omite, por lo que es 0 por defecto), vamos hasta el final (`fin` se omite, por lo que se incluye toda la cadena), y seleccionamos 1 cada 2 caracteres (paso es 2). El resultado es "Pto".

Veamos otro ejemplo:

In [43]:
print(mi_string[1:5:2])  # yh

yh

Aquí, comenzamos en el índice 1 (`y`), vamos hasta el índice 5 (`o` pero no incluido), y seleccionamos 1 de cada 2 caracteres. El resultado es "yh".

Veamos ahora como invertir la cadena usando un paso negativo:

In [44]:
print(mi_string[::-1])  # nohtyP

nohtyP

**Indexación y Slicing en Listas y Tuplas**

La indexación y el slicing funcionan de manera similar en listas y tuplas. Consideremos una lista de ejemplo:

In [45]:
mi_lista = [10, 20, 30, 40, 50]

Acceso a elementos individuales:

In [46]:
print(mi_lista[0])  # 10
print(mi_lista[-1]) # 50

10
50

Slicing:

In [47]:
print(mi_lista[1:4])  # [20, 30, 40]
print(mi_lista[:3])   # [10, 20, 30]
print(mi_lista[3:])   # [40, 50]
print(mi_lista[::2])  # [10, 30, 50]

[20, 30, 40]
[10, 20, 30]
[40, 50]
[10, 30, 50]

**Modificación de Listas**

A diferencia de las cadenas de caracteres y las tuplas, las listas son mutables, lo que significa que sus elementos pueden ser modificados:

In [48]:
mi_lista[2] = 35
print(mi_lista)  # [10, 20, 35, 40, 50]

# También podemos modificar sublistas mediante slicing
mi_lista[1:3] = [25, 30]
print(mi_lista)  # [10, 25, 30, 40, 50]

[10, 20, 35, 40, 50]
[10, 25, 30, 40, 50]

## 5. Profundizando sobre números complejos en Python

Python tiene soporte nativo para números complejos y también ofrece la librería `cmath` para realizar operaciones avanzadas. Vamos a explorar estos conceptos paso a paso.

**¿Qué es una librería en Python?**

Una librería en Python es un conjunto de módulos y funciones que puedes utilizar para realizar tareas específicas sin tener que escribir todo el código desde cero. Las librerías te permiten reutilizar código ya existente, facilitando el desarrollo de tus programas. Para utilizar una librería, primero necesitas importarla en tu script.

**Cómo importar una librería**

Para importar una librería en Python, utilizas la palabra clave import seguida del nombre de la librería. Por ejemplo, para importar la librería cmath, que proporciona funciones avanzadas para trabajar con números complejos, escribes import cmath.


### 5.1 Números Complejos Nativos

En Python, puedes crear un número complejo usando la sintaxis `a + bj`, donde `a` es la parte real y `b` es la parte imaginaria. Aquí hay algunos ejemplos:

In [49]:
# Creación de números complejos
z1 = 3 + 4j
z2 = 2 - 3j

print("Número complejo z1:", z1)
print("Número complejo z2:", z2)

Número complejo z1: (3+4j)
Número complejo z2: (2-3j)

### 5.2  Operaciones Básicas con Números Complejos

**Suma y Resta**

Puedes sumar y restar números complejos directamente:

In [50]:
# Suma de números complejos
suma = z1 + z2
print("Suma:", suma)

# Resta de números complejos
resta = z1 - z2
print("Resta:", resta)

Suma: (5+1j)
Resta: (1+7j)

**Multiplicación y División**

La multiplicación y la división también son directas:

In [53]:
# Multiplicación de números complejos
multiplicacion = z1 * z2
print("Multiplicación:", multiplicacion)

# División de números complejos
division = z1 / z2
print("División:", division)

Multiplicación: (18-1j)
División: (-0.46153846153846156+1.3076923076923077j)

**Parte Real e Imaginaria**

Puedes obtener la parte real e imaginaria de un número complejo usando las propiedades `.real` y `.imag`:

In [51]:
# Parte real e imaginaria
parte_real = z1.real
parte_imaginaria = z1.imag

print("Parte real de z1:", parte_real)
print("Parte imaginaria de z1:", parte_imaginaria)

Parte real de z1: 3.0
Parte imaginaria de z1: 4.0

Módulo (o magnitud) y Fase (o argumento):

La magnitud de un número complejo se calcula como:

In [54]:
import cmath

# Magnitud de un número complejo
magnitud = abs(z1)
print("Magnitud de z1:", magnitud)

Magnitud de z1: 5.0

La fase de un número complejo medido en radianes se calcula como:

In [55]:
# Fase de un número complejo
fase = cmath.phase(z1)
print("Fase de z1:", fase)

Fase de z1: 0.9272952180016122

 ### 5.3 Operaciones Avanzadas

 **Funciones Trigonométricas**

La librería cmath proporciona funciones para el seno, coseno y tangente de números complejos:

In [56]:
# Funciones trigonométricas
seno = cmath.sin(z1)
coseno = cmath.cos(z1)
tangente = cmath.tan(z1)

print("Seno de z1:", seno)
print("Coseno de z1:", coseno)
print("Tangente de z1:", tangente)

Seno de z1: (3.853738037919377-27.016813258003932j)
Coseno de z1: (-27.034945603074224-3.851153334811777j)
Tangente de z1: (-0.0001873462046294784+0.999355987381473j)

**Exponencial y Logaritmo**

Puedes calcular el exponencial y el logaritmo de un número complejo:

In [57]:
# Exponencial y logaritmo
exponencial = cmath.exp(z1)
logaritmo = cmath.log(z1)

print("Exponencial de z1:", exponencial)
print("Logaritmo de z1:", logaritmo)

Exponencial de z1: (-13.128783081462158-15.200784463067954j)
Logaritmo de z1: (1.6094379124341003+0.9272952180016122j)

**Conversión a Forma Polar**

La función `cmath.polar()` convierte un número complejo a su forma polar, devolviendo la magnitud y la fase:

In [65]:
# Conversión a forma polar
forma_polar = cmath.polar(z1)
print("Forma polar de z1:", forma_polar)

Forma polar de z1: (5.0, 0.9272952180016122)

**Conversión de Forma Polar a Rectangular**

La función `cmath.rect()` convierte coordenadas polares a un número complejo:

In [66]:
# Conversión de forma polar a rectangular
r, phi = forma_polar
forma_rectangular = cmath.rect(r, phi)
print("Forma rectangular desde polar:", forma_rectangular)

Forma rectangular desde polar: (3.0000000000000004+3.9999999999999996j)

La librería `cmath` proporciona una serie de funciones adicionales y especializadas para trabajar con complejos. Aquí se presentan otras de las características y funciones que `cmath` ofrece:

**Funciones Trigonométricas y Hiperbólicas**:

In [67]:
print(cmath.sin(z1) )#Seno de un número complejo.
print(cmath.sin(z1) )#Seno de un número complejo.
print(cmath.cos(z1) )#Coseno de un número complejo.
print(cmath.tan(z1) )#Tangente de un número complejo.
print(cmath.sinh(z1)) #Seno hiperbólico de un número complejo.
print(cmath.cosh(z1)) #Coseno hiperbólico de un número complejo.
print(cmath.tanh(z1)) #Tangente hiperbólica de un número complejo.

(3.853738037919377-27.016813258003932j)
(3.853738037919377-27.016813258003932j)
(-27.034945603074224-3.851153334811777j)
(-0.0001873462046294784+0.999355987381473j)
(-6.5481200409110025-7.61923172032141j)
(-6.580663040551157-7.581552742746545j)
(1.000709536067233+0.00490825806749606j)

**Funciones Exponenciales y Logarítmicas**:

In [68]:
print(cmath.exp(z1)) # Exponencial de un número complejo.
print(cmath.log(z1)) # Logaritmo natural (base e) de un número complejo.
print(cmath.log10(z1)) # Logaritmo base 10 de un número complejo.

(-13.128783081462158-15.200784463067954j)
(1.6094379124341003+0.9272952180016122j)
(0.6989700043360187+0.4027191962733731j)

**Funciones de Potencia y Raíz cuadrada**:

In [73]:
print(cmath.sqrt(z1)) #Raíz cuadrada de un número complejo.
print(z1 ** 3)        # z1 al cubo

(2+1j)
(-117+44j)


**Constantes**:

In [74]:
print(cmath.pi) # El valor de π.
print(cmath.e)  #El valor de e.

3.141592653589793
2.718281828459045

----
Con esto llegamos al final de este tutorial! Recuerda que los temas que desarrollamos en los tutoriales de la cátedra son tratados de manera básica y contienen solo lo necesario para poder presentar de forma didáctica los contenidos de la asignatura. Entender Python en profundidad requiere un curso completo dedicado a ello.

En [este link](https://github.com/vinta/awesome-python)  encontrarás una extensa cantidad de librerías de python para trabajar prácticamente sobre cualquier temática que necesites.

En [este link](https://docs.python.org/es/3.9/) encontrarás la documentación completa de Python

Cualquier comentario no dudes en consultar con los profesores de la cátedra.